
th, td, input, .panel-title, #clientesTotalizador {
    color: white;
}

.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

.btn-detalhes {
    /* display: inline-block; */
    /* margin: auto; */
    background-color: #61E786;
}
.btn-deletar {
    margin: auto;
    background-color: #9792E3;
}

